p{
    background-color: aquamarine;
}

a{
    background-color: rgb(114, 108, 202);
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
}
div{
    padding: 2px 2px 2px 2px;
    margin: 2px 2px 2px 2px;
}